<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login code</title>
  </head>
  <body>
    <h1>Hello {{name}}</h1>
    <p>please use the 6 digit code login to your Account </p>
    <p>This Code is valid for 1hr</p>

    <div class="link">
      <h3>Login code: {{link}}</h3>
      <p>please if you did not initate this login , please reset your password</p>
    </div>

    <div class="regard">
      <p>Innovative Team</p>
    </div>
  </body>
</html>